{
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/recommended",
        "@vue/typescript"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "vue"
    ],
    "rules": {
        "import/no-unresolved": "off",
        "keyword-spacing": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "vue/html-indent": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-new": "off",
        "import/prefer-default-export": "off"
    }
}